@import url('https://fonts.googleapis.com/css2?family=Spectral+SC:wght@400;500;700;800&family=Spectral:wght@200;300;400;500;600;700;800&display=swap');

@tailwind base;

/* Write your own custom base styles here */

/* Start purging... */
@tailwind components;
/* Stop purging. */

@import url('./flipCard.css');

h1, h2, h3, .font-brand-bold {
  @apply font-brand-title font-bold;
}

body {
  @apply text-gray-800 font-brand-content;
  overscroll-behavior: none;
}

.bg-texture-lienzo {
  background: url('/assets/textura-lienzo-web.jpg') fixed;
  background-size: 200px; 
}

.tira-sol {
  -webkit-mask: url(/assets/elements/tira-sol-short.svg) left top;
  mask: url(/assets/elements/tira-sol-short.svg) left top;
  -webkit-mask-repeat: repeat-x; 
  mask-repeat: repeat-x;
}

.tira-ola {
  -webkit-mask: url(/assets/elements/tira-ola-short.svg) left top;
  mask: url(/assets/elements/tira-ola-short.svg) left top;
  -webkit-mask-repeat: repeat-x; 
  mask-repeat: repeat-x;
}

.tira-triangulo {
  -webkit-mask: url(/assets/elements/tira-triangulo-short.svg) left top;
  mask: url(/assets/elements/tira-triangulo-short.svg) left top;
  -webkit-mask-repeat: repeat-x; 
  mask-repeat: repeat-x;
}

.prose-content h6 {
  @apply mb-2 text-black text-base font-bold;
}

.prose-content h5 {
  @apply mb-2 text-brand-purple-2 text-xl font-bold;
}

.prose-content h4 {
  @apply mb-3 text-brand-purple-2 text-2xl font-bold;
}

.prose-content h3 {
  @apply mb-4 text-brand-green-3 text-3xl;
}

.prose-content h2 {
  @apply mb-5 text-brand-purple-3 text-4xl uppercase;
}

/* PROSE common */
.prose p {
  @apply mb-7;
}
.prose-sm p {
  font-size: 0.9em;
  margin-bottom: 14px;
}
.prose p strong {
  @apply text-brand-green-3;
}
.prose blockquote {
  @apply text-brand-purple-3;
  font-style: italic;
  padding: 20px;
  font-size: 1.2em;
  text-indent: 0;
}
.prose ul {
  list-style: disc;
  padding-left: 20px;
  display: inline-block;
  margin-bottom: 20px;
}
.prose a, .prose-sm a {
  text-decoration: underline !important;
  @apply text-blue-600;
}

/* PROSE images */
.image-left {
  @apply float-left pr-5 py-5 w-full md:-ml-24 md:w-2/3 lg:-ml-32 lg:w-3/5 xl:-ml-36 xl:w-1/2;
}
.image-right {
  @apply float-right pl-5 py-5 w-full md:-mr-10 md:w-1/2 lg:-mr-20 lg:w-1/3;
}
.image-center {
  @apply py-5 w-full mx-auto xl:w-1/2;
}

/* PROSE header */
.prose-header p {
  margin-bottom: 14px;
  font-size: 1.1em;
}
.prose-header blockquote {
  font-style: italic;
  font-size: 1em;
  color: #282663;
}
.prose-header strong {
  @apply text-black text-xl;
}
.prose-header p strong {
  @apply text-brand-purple-1;
}

/* PROSE dark */
.prose-dark p strong {
  @apply text-brand-purple-2;
}
.prose-dark blockquote {
  @apply text-brand-purple-2;
  font-style: italic;
  padding: 20px;
  font-size: 1.2em;
}


/* layout */
.with-padding-x {
  @apply px-5 sm:px-7 md:px-12 lg:px-20 2xl:px-32;
}

.bg-svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: auto;
}

.header-menu .active {
  /* @apply text-brand-green-3; */
}

/* main menu transition */
.transition-opacity-90, .transition-opacity-full, .transition-opacity-none {
  transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
}
.transition-opacity-90 {
  opacity: 0.9;
  visibility: visible;
}
.transition-opacity-full {
  opacity: 1;
  visibility: visible;
}
.transition-opacity-none {
  opacity: 0;
  visibility: hidden;
}

.z-5000 {
  z-index: 5000;
}
.z-4500 {
  z-index: 4500;
}
.z-4000 {
  z-index: 4000;
}
.z-2000 {
  z-index: 2000;
}

.ril__inner {
  /* indigo-2 con 80% de transparencia */
  background: #4022b980; 
}

/* // menu ////////////////////////////////////////////////////////////// */
#header-menu {
  @apply h-24 py-0 w-full fixed top-0 left-0;
}

#header-menu.closed {
  /* @apply ; */
}

#header-menu.closed .menu-item {
  @apply text-brand-purple-1;
}

#header-menu.closed .menu-item:hover {
  @apply text-brand-orange-6;
}

#header-menu.open {
  @apply shadow-lg bg-brand-purple-1;
}

#header-menu.open .menu-item {
  /* @apply; */
}

#header-menu.open .menu-item:hover {
  @apply text-brand-purple-1 bg-brand-orange-6;
}

.menu-item {
  @apply block uppercase mt-1 -mx-4; 
}

.locale-switcher {
  @apply py-3 pl-2 -mx-2 bg-brand-kuarahy text-brand-orange-5 uppercase;
}

@screen lg {
  .menu-item {
    @apply inline mt-0 mx-0;
  }
  #header-menu {
    @apply h-12 bg-brand-orange-6/80;
  }
  #header-menu.closed .locale-switcher {
    @apply text-brand-purple-1;
    background: transparent;
  }
  #header-menu.closed .locale-switcher option {
    @apply text-brand-purple-1 bg-brand-orange-6;
  }
  #header-menu.open .locale-switcher {}
  #header-menu.open .locale-switcher option {}
  .lg-col-count-2 { column-count: 2; }
}

@keyframes beatHeart {
  0% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  25% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  40% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  60% {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

.beating {
  -webkit-animation: .9s infinite beatHeart;
          animation: .9s infinite beatHeart;
}

/* Start purging... */
@tailwind utilities;
/* Stop purging. */

/* Your own custom utilities */